@import 'index.css';

body {
    color: var(--text-color-theme);
}
.App {
    background: rgba(32,19,54,1);
    background: linear-gradient(180deg, rgba(32,19,54,1) 0%, rgba(27,31,36,1) 100%);
}

body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-track {
    background: transparent;
}
.nav-link {
    height: 48px;
}
.xng-breadcrumb-trail {
    color: var(--accent-color-text) !important;
}
input, .input, textarea, select {
    background: transparent;
}
*.primary, *.primary-hover:hover {
    background-color: var(--primary-color-transparent);
}
*.primary-link {
    color: var(--accent-color-text)
}
*.text-active, *.hover-text-active:hover {
    color: var(--accent-color-text)
}
*.hover-svg-active:hover, *.hover-svg-active:hover>path {
    stroke: var(--accent-color-text)
}
h3 {
    opacity: .7
}
#viewer {
    opacity: .7
}
.card {
    background: var(--card-bg-transparent);
}
.uppy-DragDrop-container {
    color: var(--text-color-theme);
    background-color: var(--secondary-color);
}
.uppy-c-icon {
    fill: var(--bg-color-theme)
}

.strength-1,
.strength-0s { color: var(--danger-color); }
.strength-2 { color: var(--warning-color); }
.strength-3 { color: var(--info-color); }
.strength-4 { color: var(--success-color); }

.bg-strength-1,
.bg-strength-0s { background-color: var(--danger-color); }
.bg-strength-2 { background-color: var(--warning-color); }
.bg-strength-3 { background-color: var(--info-color); }
.bg-strength-4 { background-color: var(--success-color); }

@media (min-width: 640px) {
    .sm\:w-250 {
        width: 15.625rem;
    }
    .sm\:ml-250 {
        margin-left: 250px;
    }
    body[data-leftbar-size=condensed] .sm\:w-250 {
        width: 4rem!important;
        padding: 2rem 0;
    }
    body[data-leftbar-size=condensed] .sm\:w-250 li,
    body[data-leftbar-size=condensed] .sm\:w-250 .nav-link,
    body[data-leftbar-size=condensed] .sm\:w-250 .nav-link i {
        width: 100%;
    }
    body[data-leftbar-size=condensed] nav .accordion-item .nav-link-label,
    body[data-leftbar-size=condensed] .sm\:w-250 .logout-label,
    body[data-leftbar-size=condensed] .sm\:w-250 #logo,
    body[data-leftbar-size=condensed] nav .collapse.show {
        display: none;
    }
    body[data-leftbar-size=condensed] .sm\:w-250 .nav-link:not(.nav-link.p-3) {
        padding: 0.5rem 1rem;
    }
    body[data-leftbar-size=condensed] nav .accordion-button::after,
    body[data-leftbar-size=condensed] nav .accordion-button:not(.collapsed)::after {
        content: initial;
    }
    body[data-leftbar-size=condensed] nav .accordion-item:hover {
        width: 250px;
        background: var(--secondary-color);
    }
    body[data-leftbar-size=condensed] nav .accordion-item:hover .collapse.show,
    body[data-leftbar-size=condensed] nav .accordion-item:hover .nav-link-label,
    body[data-leftbar-size=condensed] nav .accordion-item:hover .collapse:not(.show) {
        display: block;
    }
    body[data-leftbar-size=condensed] nav .accordion-item:hover .collapse.show,
    body[data-leftbar-size=condensed] nav .accordion-item:hover .collapse:not(.show) {
        position: absolute;
        left: 64px;
        width: calc(100% - 64px);
        background: inherit
    }
    body[data-leftbar-size=condensed] nav .accordion-item:hover i.sm\:mr-3 {
        margin: 0 2.26rem 0 0.89rem;
    }
    body[data-leftbar-size=condensed] .sm\:w-250 i.sm\:mr-3 {
        padding: 0;
        margin: auto;
    }
    body[data-leftbar-size=condensed] .sm\:ml-250 {
        margin-left: 4rem !important;
    }
    .left-40 {
        left: 80px !important;
    }
    .accordion-item:first-of-type {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .accordion-item:last-of-type,
    .accordion-item:last-of-type .accordion-collapse {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
}

@media (max-width: 640px) {
    nav.sm\:hidden {
        background-color: var(--primary-color);
        height: 64px;
    }
    nav.sm\:hidden button.nav-link {
        height: 100%
    }
    .xng-breadcrumb-link, .xng-breadcrumb-separator, .xng-breadcrumb-trail {
        font-size: 0.8rem;
    }
    select {
        font-size: 0.9rem;
    }
}