@import 'simple-line-icons';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text-color-theme: #cecece;
    --primary-color: #0c7bad;
    --secondary-color: #1E293B;
    --accent-color-text: #0c7bad;
    --text-active-color: #0c7bad;
}