@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text-color-theme: #cecece;
    --bg-color-theme: rgb(15 23 42 / var(--tw-bg-opacity));
    --accent-color-text: rgb(56, 189, 248);
    --color-primary: #0284c7;
    --color-secondary: rgb(15, 23, 42);
    --color-secondary-transparent: rgb(15 23 42 / .25);
    --card-bg-transparent: rgb(56 189 248 / .1);
    --success-color: #16a34a;
    --warning-color: #d97706;
    --danger-color: #dc2626;
    --info-color: #0d9488;
}