@import 'simple-line-icons';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --white-color: #ffffff;
    --primary-color-bg: #3c9add;
    --hover-primary-color-bg: #191452;
    --accent-color-text: #3c9add;
    --scrollbar-bg: #3c9add;
    --scrollbar-color: #191452;
    --header-bg: #191452;
    --input-bg: #191452;
    --text-active-color: #3c9add;
}